* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  color: $main_color;
}

img {
  width: 100%;
}

a.my_link {
  color: $main_color;
  &:hover {
    color: $main_color;
    text-decoration: none;
}
